@model RasporedApp.Models.Table

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Table</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.DAN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DAN)
                @Html.ValidationMessageFor(model => model.DAN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PREDMET, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PREDMET)
                @Html.ValidationMessageFor(model => model.PREDMET)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VRIJEME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VRIJEME)
                @Html.ValidationMessageFor(model => model.VRIJEME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PROFESOR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PROFESOR)
                @Html.ValidationMessageFor(model => model.PROFESOR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NAPOMENE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAPOMENE)
                @Html.ValidationMessageFor(model => model.NAPOMENE)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
