@model IEnumerable<RasporedApp.Models.Table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREDMET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VRIJEME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROFESOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAPOMENE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREDMET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VRIJEME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROFESOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAPOMENE)
        </td>
        <td>           
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
